.info span, .contact span {
  font-weight: bold;
}

.info p, .contact p {
  word-spacing: 2em;
}

.ability span, .education span, .project span {
  font-weight: 700;
}

header {
  background-color: rgb(101, 165, 250);
  float: left;
  height: 800px;
  width: 150px;
  padding-top: 2em;
  color: white;
  text-align: center;
}

main {
  float: left;
  padding: 20px;
}

main p {
  line-height: 1.5em;
}

.clear-fix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.resume {
  width: 1000px;
  box-shadow: 0 0 10px #535353;
}