body {
    font-family: "consolas", "微软雅黑", "monospace";
}

table, table tr th, table tr td {
    border: 2px #8a56be solid;
    color: #8a56be;
    border-collapse: collapse;
    text-align: center;
}

table tr th, table tr td {
    font-size: 15px;
    width: 90px;
    height: 38px;
    overflow: hidden;
    /*越界隐藏，隐藏编辑图标*/
    position: relative;
    /* 解决td在relative模式下，火狐浏览器不显示边框的问题。 */
    background-clip: padding-box;
}

#mytable #edit {
    /* 添加一个编辑按钮 并隐藏*/
    font-size: 13px;
    color: #fff;
    background-color: #8a56be;
    position: absolute;
    top: 0;
    right: -50px;
    padding: 0 2px;
}

/*显示编辑图标*/

#mytable td:hover #edit {
    right: 0;
}

/* 输入框旁边的确认和取消按钮 */

.confirm, .cancel {
    position: absolute;
    right: 0;
    background-color: #8a56be;
    color: #fff;
    font-size: 12px;
    text-align: center;
    width: 30px;
    height: 19px;
    padding: 0;
    /* border: 1px #fff solid; */
}

.confirm {
    top: 0;
}

.cancel {
    bottom: 0;
}

/* 输入框 */

table .inputData {
    width: 59px;
    height: 40px;
    position: absolute;
    left: -1px;
    top: -1px;
    outline: none;
}

/* 隐藏输入框，和按钮 */

table td .hide {
    display: none;
}

/* --- */

table tr th {
    background-color: #8a56be;
    color: #fff;
}

table input {
    border: none;
    text-align: center;
}

table {
    margin-top: 10px;
}

tr:hover {
    /* background-color: #c391f588; */
}

td:hover {
    cursor: pointer;
    background-clip: padding-box;
    background-color: #c391f588;
}

#bar-wrapper, #line-wrapper {
    display: inline-block;
}

#graph-wapper {
    width: 1310px;
    margin: 0 auto;
}

#checkbox-wrapper, #table-wrapper {
    /* 与折线图柱状图对齐 */
    padding-left: 15px;
    width: 1270px;
    margin: 0 auto;
}

#checkbox-wrapper label {
    display: inline-block;
    /* text-align: left; */
    /* padding-left: 5px; */
    color: #8a56be;
}

#checkbox-wrapper input {
    margin: 0 0 10px 15px;
}

#region-wrapper input:nth-of-type(1), #product-wrapper input:nth-of-type(1) {
    margin: 0;
}

#region-wrapper, #product-wrapper {
    margin: 0 10px 10px 0;
    display: inline;
    border: #8a56be 2px solid;
    padding: 5px;
}

#region-wrapper label:nth-of-type(1), #product-wrapper label:nth-of-type(1) {
    font-weight: bold;
}